/gadget
/gadget-para
/libgadgetinput.a

/*.Rcheck
/*.Rhistory
/*.Rprofile
/*_*.tar.gz

/params.out
.Rproj.user

/src/*.o
/src/*~
/src/*#

/docs/*.html
/docs/*.pdf
/docs/userguide/*.html

/*.creator.user*
