# Based on:-
# * https://ropenscilabs.github.io/actions_sandbox/websites-using-pkgdown-bookdown-and-blogdown.html#action-to-deploy-a-bookdown-site
# * https://github.com/peaceiris/actions-gh-pages
on:
  push:
     branches:
       - master

name: Render documentation

jobs:
  documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: r-lib/actions/setup-r@v1
      - uses: r-lib/actions/setup-pandoc@v1

      - name: Install doxygen
        run: sudo apt install doxygen graphviz

      # TODO: 0.23+ generates "chap:input.html" instead of "chap-input.html"
      - name: Install build-docs prerequisites
        run: Rscript -e 'install.packages(c("remotes")) ; remotes::install_github("rstudio/bookdown", "v0.22")'

      - name: Render Documentation
        run: ./build-docs.R ./docs-build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_branch: gh-pages
          publish_dir: ./docs-build
